{% extends "layout.njk" %}
{% block body %}
  <h1>
    <i class="fas fa-sign-in-alt"></i>
    Log in
  </h1>
  <form id="form">
    <fieldset>
      <label for="email">Email</label>
      <input type="email" name="email" id="email" placeholder="Email" autofocus="autofocus" required="required">

      <label for="password">Password</label>
      <input type="password" name="password" id="password" placeholder="Password" autofocus="autofocus" required="required">
    </fieldset>
    <div id="errors"></div>
    <button type="submit">
      <i class="fas fa-sign-in-alt"></i>
      Log in
    </button>
  </form>
  <p>
    Don't have an account?
    <a href="/auth/register">Sign up</a>
  </p>
  <p>
    Forgot your password?
    <a href="/auth/reset-password-request">Reset your password</a>
  </p>
{% endblock %}

{% block javascript %}
  <script>
    const form = document.querySelector("#form");
    const errors = document.querySelector("#errors");

    form.addEventListener("submit", async (event) => {
      event.preventDefault();

      // Get the form data
      const email = form.querySelector("#email");
      const password = form.querySelector("#password");

      // Reset error messages
      email.removeAttribute('aria-invalid');
      password.removeAttribute('aria-invalid');

      errors.innerHTML = "";

      try {
        const body = JSON.stringify({email: email.value, password: password.value});

        const response = await fetch("/api/auth/login", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body
        });

        if (response.ok) {
          window.location = "/";
        } else {
          if (response.status === 400) {
            const error = await response.json();

            const ul = document.createElement('ul');

            for (const message of error.message) {
              // Find the field that caused the error
              const fieldName = message.split(' ')[0];
              const field = document.querySelector(`#${fieldName}`);

              field.setAttribute('aria-invalid', 'true');

              // Create a list item with the error message
              const li = document.createElement('li');
              li.className = 'error';
              li.innerHTML = message;
              ul.appendChild(li);
            }

            errors.appendChild(ul);
          } else {
            errors.innerHTML = "<p class=\"error\">An error occurred. Please try again.</p>";
          }
        }
      } catch (e) {
        console.error(e);
        errors.innerHTML = "<p class=\"error\">An error occurred. Please try again.</p>";
      }
    });
  </script>
{% endblock %}
