{% extends "layout.njk" %}
{% block body %}
  <h1>
    <i class="fas fa-sign-in-alt"></i>
    {{ t('ui.auth.login.title') }}
  </h1>
  <form id="form">
    <fieldset>
      <label for="email">
        {{ t('ui.auth.login.email.label') }}
      </label>
      <input type="email" name="email" id="email" placeholder="{{ t('ui.auth.login.email.placeholder') }}" autofocus="autofocus" required="required">

      <label for="password">
        {{ t('ui.auth.login.password.label') }}
      </label>
      <input type="password" name="password" id="password" placeholder="{{ t('ui.auth.login.password.placeholder') }}" autofocus="autofocus" required="required">
    </fieldset>
    <div id="errors"></div>
    <button type="submit">
      <i class="fas fa-sign-in-alt"></i>
      {{ t('ui.auth.login.button') }}
    </button>
  </form>
  <p>
    {{ t('ui.auth.register.noAccount.label') }}
    <a href="/auth/register">
      {{ t('ui.auth.register.noAccount.register') }}
    </a>
  </p>
  <p>
    {{ t('ui.auth.resetPasswordRequest.forgotPassword.label') }}
    <a href="/auth/reset-password-request">
      {{ t('ui.auth.resetPasswordRequest.forgotPassword.reset') }}
    </a>
  </p>
{% endblock %}

{% block javascript %}
  <script>
    const form = document.getElementById("form");
    const errors = document.getElementById("errors");

    form.addEventListener("submit", async (event) => {
      event.preventDefault();

      // Remove aria-invalid from all fields
      document
        .querySelectorAll('[aria-invalid]')
        .forEach((elem) => {
          elem.setAttribute('aria-invalid', 'false');
        });

      errors.innerHTML = "";

      // Get the form data
      const email = document.getElementById("email");
      const password = document.getElementById("password");

      const body = JSON.stringify({
        email: email.value || undefined,
        password: password.value || undefined
      });

      const response = await fetch("/api/auth/login", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body
      });

      if (response.ok) {
        window.location = "/";
      } else {
        await manageErrors(response, errors);
      }
    });
  </script>
{% endblock %}
