{% extends "layout.njk" %}
{% block body %}
  <h1>
    <span class="fas fa-sign-out-alt"></span>
    {{ t('ui.auth.logout.title') }}
  </h1>
  <p>
    {{ t('ui.auth.logout.paragraphOne') }}
  </p>
{% endblock %}
