{% extends "layout.njk" %}
{% block body %}
  <h1>
    <i class="fas fa-sign-out-alt"></i>
    {{ t('ui.auth.logout.title') }}
  </h1>
  <p>
    {{ t('ui.auth.logout.message') }}
  </p>
{% endblock %}
