{% extends "layout.njk" %}

{% block body %}
<h1><i class="fas fa-user"></i> User profile</h1>
<fieldset>
    <label for="username">Username</label>
    <input type="username" name="username" id="username" value="{{ username }}" readonly>
</fieldset>
<fieldset>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" value="{{ email }}" readonly>
</fieldset>
{% endblock %}
