{% extends "layout.njk" %}
{% block body %}
  <h1>
    <span class="fas fa-edit"></span>
    {{ t('ui.auth.register.title') }}
  </h1>
  <form id="form">
    <fieldset>
      <label for="username">
        {{ t('ui.auth.register.username.label') }}
      </label>
      <input name="username" id="username" placeholder="{{ t('ui.auth.register.username.placeholder') }}" autofocus="autofocus" required="required">
      <small>
        {{ t('ui.auth.register.username.warning') }}
      </small>
      <label for="email">
        {{ t('ui.auth.register.email.label') }}
      </label>
      <input type="email" name="email" id="email" placeholder="{{ t('ui.auth.register.email.placeholder') }}" autofocus="autofocus" required="required">
    </fieldset>
    <div id="success"></div>
    <div id="errors"></div>
    <button type="submit">
      <span class="fas fa-edit"></span>
      {{ t('ui.auth.register.button') }}
    </button>
  </form>
  <p>
    {{ t('ui.auth.login.haveAccount.label') }}
    <a href="/auth/login">
      {{ t('ui.auth.login.haveAccount.login') }}
    </a>
  </p>
  <p>
    {{ t('ui.auth.resetPasswordRequest.forgotPassword.label') }}
    <a href="/auth/reset-password-request">
      {{ t('ui.auth.resetPasswordRequest.forgotPassword.reset') }}
    </a>
  </p>
{% endblock %}

{% block javascript %}
  <script>
    const form = document.getElementById("form");
    const success = document.getElementById("success");
    const errors = document.getElementById("errors");

    form.addEventListener("submit", async (event) => {
      event.preventDefault();

      // Remove aria-invalid from all fields
      document
        .querySelectorAll('[aria-invalid]')
        .forEach((elem) => {
          elem.setAttribute('aria-invalid', 'false');
        });

      success.innerHTML = "";
      errors.innerHTML = "";

      // Get the form data
      const username = document.getElementById("username");
      const email = document.getElementById("email");

      const body = JSON.stringify({
        username: username.value || undefined,
        email: email.value || undefined
      });

      const response = await fetch("/api/auth/register", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body
      });

      if (response.ok) {
        success.innerHTML += "<p class=\"success\">A link to activate your account has been emailed to the address provided.<p>";
        success.innerHTML += "<p class=\"success\">You can then <a href='/auth/login'>Log in</a>.</p>";
      } else {
        await manageErrors(response, errors);
      }
    });
  </script>
{% endblock %}
