{% extends "layout.njk" %}
{% block body %}
  <h1>
    <span class="fas fa-lock-open"></span>
    {{ t('ui.auth.resetPassword.title') }}
  </h1>
  <form id="form">
    <fieldset>
      <label for="password">{{ t('ui.auth.resetPassword.newPassword.label') }}</label>
      <input type="password" name="password" id="password" placeholder="{{ t('ui.auth.resetPassword.newPassword.placeholder') }}" autofocus="autofocus" required="required">

      <label for="password">{{ t('ui.auth.resetPassword.confirmPassword.label') }}</label>
      <input type="password" name="confirm-password" id="confirm-password" placeholder="{{ t('ui.auth.resetPassword.confirmPassword.placeholder') }}" autofocus="autofocus" required="required">
    </fieldset>
    <fieldset>
      <input type="hidden" name="token" id="token" required="required" value="{{token}}">
    </fieldset>
    <div id="success"></div>
    <div id="errors"></div>
    <button type="submit">
      <span class="fas fa-lock-open"></span>
      {{ t('ui.auth.resetPassword.button') }}
    </button>
  </form>
{% endblock %}

{% block javascript %}
  <script>
    const form = document.getElementById("form");
    const success = document.getElementById("success");
    const errors = document.getElementById("errors");

    form.addEventListener("submit", async (event) => {
      event.preventDefault();

      // Remove aria-invalid from all fields
      document
        .querySelectorAll('[aria-invalid]')
        .forEach((elem) => {
          elem.setAttribute('aria-invalid', 'false');
        });

      success.innerHTML = "";
      errors.innerHTML = "";

      // Get the form data
      const password = document.getElementById("password");
      const confirmPassword = document.getElementById("confirm-password");
      const token = document.getElementById("token");

      // Check if the passwords match
      if (password.value !== confirmPassword.value) {
        password.setAttribute('aria-invalid', 'true');
        confirmPassword.setAttribute('aria-invalid', 'true');

        errors.innerHTML = "<p class=\"error\">Passwords do not match.</p>";

        return;
      }

      const body = JSON.stringify({
        password: password.value || undefined
      });

      const response = await fetch("/api/auth/reset-password", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "token": `${token.value}`
        },
        body
      });

      if (response.ok) {
        success.innerHTML += "<p class=\"success\">You have successfully reset your password.<p>";
        success.innerHTML += "<p class=\"success\">You can now <a href='/auth/login'>Log in</a>.</p>";
      } else {
        await manageErrors(response, errors);
      }
    });
  </script>
{% endblock %}
