{% extends "layout.njk" %}
{% block body %}
  <h1>
    <i class="fas fa-lock-open"></i>
    Reset password request
  </h1>
  <form id="form">
    <fieldset>
      <label for="email">Email</label>
      <input type="text" name="email" id="email" placeholder="Email" autofocus="autofocus" required="required">
    </fieldset>
    <div id="success"></div>
    <div id="errors"></div>
    <button type="submit">
      <i class="fas fa-lock-open"></i>
      Request a password reset
    </button>
  </form>
  <p>
    Already have an account?
    <a href="/auth/login">Log in</a>
  </p>
  <p>
    Don't have an account?
    <a href="/auth/register">Sign up</a>
  </p>
{% endblock %}

{% block javascript %}
  <script>
    const form = document.querySelector("#form");
    const success = document.querySelector("#success");
    const errors = document.querySelector("#errors");

    form.addEventListener("submit", async (event) => {
      event.preventDefault();

      // Get the form data
      const email = form.querySelector("#email");

      // Reset error messages
      email.removeAttribute('aria-invalid');

      success.innerHTML = "";
      errors.innerHTML = "";

      try {
        const body = JSON.stringify({
          email: email.value
            ? email.value
            : undefined
        });

        const response = await fetch("/api/auth/reset-password-request", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body
        });

        if (response.ok) {
          success.innerHTML += "<p class=\"success\">Please check your email to reset your password.<p>";
          success.innerHTML += "<p class=\"success\">You can then <a href='/auth/login'>Log in</a>.</p>";
        } else {
          errors.innerHTML = "<p class=\"error\">An error occurred. Please try again.</p>";
        }
      } catch (e) {
        console.error(e);
        errors.innerHTML = "<p class=\"error\">An error occurred. Please try again.</p>";
      }
    });
  </script>
{% endblock %}
