{% extends "layout.njk" %}


{% block body %}
<h1><i class="fas fa-edit"></i> Sign up</h1>
{# <form id="signup-form"> #}
<form action="/auth/signup" method="POST">
    <label for="username">
        Username
        <input type="text" name="username" id="username" placeholder="Username" value="{{ values.username }}" autofocus>
    </label>
    
    <label for="email">
        Email
        <input type="text" name="email" id="email" placeholder="Email" value="{{ values.email }}">
    </label>
    
    <label for="password">
        Password
        <input type="password" name="password" id="password" placeholder="Password">
    </label>

    <button type="submit"><i class="fas fa-edit"></i> Sign up</button>
</form>
{# <script>
    const form = document.getElementById("signup-form");
    const errors = document.getElementById("errors");

    form.addEventListener("submit", async (event) => {
        event.preventDefault();

        // Reset error message
        errors.hidden = true;

        const username = document.getElementById("username").value;
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;

        const res = await fetch("/api/auth/signup", {
            method: "POST",
            headers: {
                "content-type": "application/json"
            },
            body: JSON.stringify({
                username,
                email,
                password,
            }),
        });

        if (res.status === 200) {
            window.location = "/auth/login";
        } else {
            const json = await res.json();
            
            errorMessages = json.message.map((message) => `${message.charAt(0).toUpperCase() + message.slice(1)}.</br>`);

            errors.innerHTML = errorMessages.join(" ");
            errors.hidden = false;
        }
    });
</script> #}

{% endblock %}
