<small class="banner">
  <details>
    <summary>
      <img src="/icons/icon.svg" alt="Spot in® icon" width="30"/>
      {{ t('ui.banner.title') }}
      {% if spot %}
        {% if spot.user.role == "CERTIFIED_USER" or spot.user.role == "ADMIN" %}
          {{ t('ui.banner.spot.certified.title') }}
        {% else %}
          <strong>
            {{ t('ui.banner.spot.unverified.title') }}
          </strong>
        {% endif %}
      {% endif %}
      {{ t('ui.banner.subtitle') }}
    </summary>

    <p>
      <strong>
        {{
          t('ui.banner.keyElementOne.title', {
            spotInWebsite: '<a href="https://spotin.ch" target="_self">https://spotin.ch</a>'
          })|safe
        }}
      </strong>
      <br>
      {{ t('ui.banner.keyElementOne.note') }}
    </p>

    <p>
      <strong>
        {{ t('ui.banner.keyElementTwo.title')|safe }}
      </strong>
      <br>
      {{
        t('ui.banner.keyElementTwo.note', {
          lockIcon: '<span class="fas fa-lock fa-sm"></span>',
          shieldIcon: '<span class="fas fa-shield fa-sm"></span>',
          httpsUrl: '<strong>https://</strong>'
        })|safe
      }}
    </p>

    <p>
      {% if spot.user.role == "CERTIFIED_USER" or spot.user.role == "ADMIN" %}
        <strong>
          {{ t('ui.banner.spot.certified.title') }}
        </strong>
        <br>
        {{ t('ui.banner.spot.certified.meaning') }}
      {% else %}
        <strong>
          {{ t('ui.banner.spot.unverified.title') }}
        </strong>
        <br>
        {{ t('ui.banner.spot.unverified.meaning') }}
      {% endif %}
    </p>
  </details>
  <hr class="m-0">
</small>
