<footer class="container-fluid text-center">
  <hr>
  <small>
    <p class="text-center">
      {{ t('ui.footer.offeredBy') }}
      <br>
      <a href="/about">
        {{ t('ui.footer.about') }}
      </a>
    </p>
  </small>
</footer>
