<footer>
    <hr>
    <div class="container">
        <div class="grid">
            <div class="col">
                <h6>About</h6>
                <p>Share information with the Spot in® software that allows administrators to create collections of interest points via sustainable linked QR codes.</p>
            </div>
            <div class="col">
                <h6>Links</h6>
                <ul class="footer-links">
                <li><a href="https://www.biel-bienne.ch/">Ville de Bienne</a></li>
                <li><a href="https://www.sportiworld.com/">SPORTIWORLD</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
