<footer class="container-fluid text-center">
  <hr>
  <small>
    <p>
      {{ t('ui.footer.copyright') }}
      ·
      <a href="/about">{{ t('ui.footer.about') }}</a>
      ·
      <a href="/privacy-policy">{{ t('ui.footer.privacyPolicy') }}</a>
    </p>
  </small>
</footer>
