<nav class="container-fluid">
  <ul>
    <a href="/">
      <img src="/images/logo.svg" alt="Spot in logo" width="200"/>
    </a>
  </ul>

  <ul>
    <details class="dropdown mobile-dropdown-menu">
      <summary role="button">
        <i class="fas fa-bars"></i>
      </summary>
      {% include "partials/menu.njk" %}
    </details>
    <div class="menu">
      {% include "partials/menu.njk" %}
    </div>
  </ul>
</nav>
