<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>{{ t(title) }} | Spot in</title>
  <meta property="description" content="{{ t(description) }}">
  <link rel="icon" href="/icons/favicon.ico">
  <link rel="icon" type="image/png" href="/icons/favicon.png">
  <link rel="icon" type="image/svg+xml" href="/icons/favicon.svg">
  <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.1.0/dist/cookieconsent.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.red.min.css"/>
  <link rel="stylesheet" href="https://unpkg.com/maplibre-gl@^4.7.1/dist/maplibre-gl.css"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <script src="https://unpkg.com/maplibre-gl@^4.7.1/dist/maplibre-gl.js"></script>
  <script defer="defer" src="/javascripts/cookie-consent.js" type="module"></script>
  <script defer="defer" src="/javascripts/modal.js"></script>
  <script defer="defer" src="/javascripts/script.js"></script>
  <script defer="defer" data-domain="{{ plausibleDomainName }}" src="https://plausible.io/js/script.tagged-events.js"></script>
</head>
