<div id="map"></div>
<script>
    // Fetch geojson
    fetch('spots.geojson')
        .then(response => response.json())
        .then(spots => {
            if (spots.data.features.length == 0) {
                // Create the map
                const map = new maplibregl.Map({
                    container: "map",
                    style: 'https://vectortiles.geo.admin.ch/styles/ch.swisstopo.leichte-basiskarte_world.vt/style.json',
                    center: [8.2275, 46.8182],
                    zoom: 8
                });
            } else {
                // Calculate bounds
                const coordinates = spots.data.features.map(feature => feature.geometry.coordinates);
                const bounds = coordinates.reduce(function (bounds, coord) {

                console.log(coord)
                    return bounds.extend(coord);
                }, new maplibregl.LngLatBounds(coordinates[0], coordinates[0]));

                // Create the map
                const map = new maplibregl.Map({
                    container: "map",
                    style: 'https://vectortiles.geo.admin.ch/styles/ch.swisstopo.leichte-basiskarte_world.vt/style.json',
                    center: bounds.getCenter().toArray(),
                    zoom: 14
                });

                // Fit bounds
                if (spots.data.features.length > 1) {
                    map.fitBounds(bounds, {
                        padding: document.body.clientWidth / 10,
                        duration: 0
                    });
                }

                // Add points
                map.on('load', () => {
                    map.addSource('spots', spots);
                    map.addLayer({
                        'id': 'spots',
                        'type': 'circle',
                        'source': 'spots',
                        'paint': {
                            'circle-radius': 6,
                            'circle-color': ['get', 'color'],
                            'circle-stroke-width': 3,
                            'circle-stroke-color': 'black',
                        }
                    });
                    map.on('click', 'spots', (e) => {
                        // Copy coordinates array.
                        let feature = e.features[0]
                        const coordinates = e.features[0].geometry.coordinates.slice();
                        const description = e.features[0].properties.description;

                        let content = '';
                        if (feature.properties.title) content += `<h1>${feature.properties.title}</h1>`;
                        if (feature.properties.description) content += `<p>${feature.properties.description}</p>`;
                        if (feature.properties.redirection) content += `<p><a href="https://www.spotin.ch/spots/${feature.properties.uuid}" target="_blank">More</a></p>`;

                        // Ensure that if the map is zoomed out such that multiple
                        // copies of the feature are visible, the popup appears
                        // over the copy being pointed to.
                        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                            coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
                        }

                        new maplibregl.Popup()
                            .setLngLat(coordinates)
                            .setHTML(content)
                            .addTo(map);
                    });
                });
            }
        });
</script>