<ul >
  <!-- if is authenticated -->
  {% if username %}
    {% if role == "ADMIN" %}
      <li>
        <a href="/users">
          <span class="fas fa-users"></span>
          {{ t('ui.header.users') }}
        </a>
      </li>
    {% endif %}
    <li>
      <a href="/spots">
        <span class="fas fa-map-marker-alt"></span>
        {{ t('ui.header.spots') }}
      </a>
    </li>
    <li>
      <a href="/tokens">
        <span class="fas fa-key"></span>
        {{ t('ui.header.tokens') }}
      </a>
    </li>
    <li>
      <a href="/profile">
        <span class="fas fa-user"></span>
        {{ t('ui.header.profile') }}
      </a>
    </li>
    <li>
      <a href="/auth/logout">
        <span class="fas fa-sign-out-alt"></span>
        {{ t('ui.header.logout') }}
      </a>
    </li>
  {% else %}
    <li>
      <a href="/auth/login">
        <span class="fas fa-sign-in-alt"></span>
        {{ t('ui.header.login') }}
      </a>
    </li>
    <li>
      <a href="/auth/register">
        <span class="fas fa-edit"></span>
        {{ t('ui.header.register') }}
      </a>
    </li>
  {% endif %}
</ul>
