
<!--
<div>
    <h3><i class="fas fa-user-circle"></i> Or sign in with</h3>
    <a href="#" role="button" class="secondary"><i class="fab fa-google"></i> Google</a>
    <a href="#" role="button" class="secondary"><i class="fab fa-facebook"></i> Facebook</a>
    <a href="#" role="button" class="secondary"><i class="fab fa-twitter"></i> Twitter</a>
    <a href="/auth/github" role="button" class="secondary"><i class="fab fa-github"></i> GitHub</a>
</div>
-->
