## dotenv environment variables files
.env
.env.*
!.env.defaults
!.env.schema
!.env.*.defaults
!.env.*.schema

## Linux
*~

## macOS

# General
.DS_Store

# Thumbnails
._*

## Material for MkDocs

# Cache
.cache

# Output directory
.mkdocs

## Node

# Logs
logs
*.log

# Coverage directory
coverage

# Dependency directories
node_modules
vendor

# NestJS build / generated output
.nest

## Windows

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Folder config file
[Dd]esktop.ini

# Windows shortcuts
*.lnk

# Laravel & PHP
.phpactor.json
.phpunit.result.cache
/.phpunit.cache
/.vscode
/.zed
/auth.json
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
