{% extends "layout.njk" %}
{% block body %}
  <div>
    <h1>
      <i class="fas fa-map-marker-alt"></i>
      about
    </h1>
    <p class="text-justify">
      Ouais ouais
      {# {{ t('ui.index.explanation') }} #}
    </p>
  </div>
{% endblock %}
