{% extends "layout.njk" %}
{% block body %}
  <div>
    <h1>
      <span class="fas fa-map-marker-alt"></span>
      {{ t('ui.about.title') }}
    </h1>
    <p class="text-justify">
      {{ t('ui.about.paragraphOne') }}
    </p>
  </div>
{% endblock %}
