<!DOCTYPE html>
<html>
    <head>
        <title>
            {{ title }}
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/pico.min.css" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/stylesheets/maplibre-gl.css" />
        <script src="/javascripts/maplibre-gl.js"></script>
        <script src="/javascripts/cookieconsent.min.js"></script>
        <script defer src="/javascripts/regular.min.js"></script>
        <script defer src="/javascripts/solid.min.js"></script>
        <script defer src="/javascripts/fontawesome.min.js"></script>
        <script defer src="/javascripts/script.js"></script>
    </head>
    <body>
        {% include "partials/header.njk" %}
        <main class="container">
            {% include "partials/flash.njk" %}
            {% block body %}{% endblock %}
        </main>
        {% include "partials/footer.njk" %}
    </body>
</html>
