{% extends "layout.njk" %}
{% block body %}
  <div>
    <h1>
      {{ t('ui.notFound.title') }}
    </h1>
    <p class="text-justify">
      {{ t('ui.notFound.message') }}
    </p>
    <p class="text-center">
      <a href="/">
        <button>
          {{ t('ui.notFound.backToHome') }}
        </button>
      </a>
    </p>
  </div>
{% endblock %}
