{% extends "layout.njk" %}

{% block body %}
<div>
    <h1>Not Found</h1>
    <p>
        The requested item was not found.
    </p>
    <p><a class="outline" href="/" role="button">Return to homepage</a></p>
</div>
{% endblock %}
