{% extends "layout.njk" %}
{% block body %}
  <div>
    <h1>
      {{ t('ui.notFound.title') -}}
      {% if url %}:
        {{ url }}
      {% endif %}
    </h1>
    <p class="text-justify">
      {{ t('ui.notFound.paragraphOne') }}
    </p>
    <p>
      {{ t('ui.notFound.latestSpotsDescription') }}
      <a href="/spots/latest">{{ t('ui.notFound.latestSpots') }}</a>.
    </p>
    <p>
      {{ t('ui.notFound.registerPageDescription') }}
      <a href="/auth/register">{{ t('ui.notFound.registerPage') }}</a>.
    </p>
    <p>
      {{ t('ui.notFound.homePageDescription') }}
      <a href="/">{{ t('ui.notFound.homePage') }}</a>.
    </p>
  </div>
{% endblock %}
