<!DOCTYPE html>
<html lang="{{ lang() }}">
  {% include "partials/head.njk" %}
  <body>
    <div class="flex flex-col min-h-screen">
      {% include "partials/banner.njk" %}
      <div class="container grow content-center justify-center">
        {% include "partials/flash.njk" %}
        <article class="m-8">
          <header class="text-center">
            <img src="/images/logo.svg" alt="Spot in® logo" width="200"/>
            <h1>
              {% if spot.name != null %}
                {{ spot.name }}
              {% else %}
                <i>{{ t('ui.spots.view.noName') }}</i>
              {% endif %}
            </h1>

            <p>
              {{ t('ui.spots.redirect.spotScanned') }}
              {{ t('ui.spots.redirect.spotExplanation', { spotIn: '<strong><i><a href="/about">Spot in®</a></i></strong>' })|safe }}
            </p>
          </header>

          {% block body %}{% endblock %}

        </article>
      </div>
      {% include "partials/footer.njk" %}
    </div>
    {% block javascript %}{% endblock %}
  </body>
</html>
