.error {
	color: #e53935;
}

.success {
	color: #2e7d32;
}

.text-justify {
	text-align: justify;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-italic {
	font-style: italic;
}

.flash {
	margin-bottom: var(--typography-spacing-vertical);
	padding: var(--form-element-spacing-vertical)
		var(--form-element-spacing-horizontal);
	border: solid var(--border-width);
	border-radius: var(--border-radius);
}

.flash.info {
	color: #3734e5;
	border-color: #3734e5;
}

.flash.success {
	color: #9a9835;
	border-color: #9a9835;
}

.flash.error {
	color: #e53935;
	border-color: #e53935;
}

.grow {
	width: 100%;
}

.resource .qrcode {
	float: right;
}

.resource .head {
	min-height: 128px;
}

.resource .map {
	height: 400px;
}

#keyword {
	color: #e53935;
}

@media (max-width: 991px) {
	.site-footer [class^='col-'] {
		margin-bottom: 30px;
	}
}

@media (max-width: 767px) {
	.site-footer {
		padding-bottom: 0;
	}

	.site-footer .copyright-text,
	.site-footer .social-icons {
		text-align: center;
	}
}
