{% extends "layout.njk" %}
{% block body %}
  <h2>
    <i class="fas fa-users"></i>
    {% if user %}
      Edit user
    {% else %}
      New user
    {% endif %}
  </h2>
  <form id="form">
    <fieldset>
      <input type="hidden" name="id" id="id" value="{{ user.id }}">

      <label for="username">Username</label>
      <input name="username" id="username" placeholder="Username" value="{{ user.username }}" autofocus="autofocus" required="required"/>

      <label for="email">Email</label>
      <input type="email" name="email" id="email" placeholder="Email" value="{{ user.email }}" autofocus="autofocus" required="required">

      <label for="role">Role</label>
      <select id="role" name="role" required="required">
        <option value="STANDARD_USER" {{ 'selected' if user.role == "STANDARD_USER" }}>Standard user</option>
        <option value="CERTIFIED_USER" {{ 'selected' if user.role == "CERTIFIED_USER" }}>Certified user</option>
        <option value="ADMIN" {{ 'selected' if user.role == "ADMIN" }}>Admin</option>
      </select>

      <label for="enabled">
        <input id="enabled" type="checkbox" role="switch" name="enabled" {{ 'checked' if user.enabled or not user }}>
        Enable the user
      </label>
    </fieldset>
    <div id="success"></div>
    <div id="errors"></div>
    <button id="button" name="button" type="submit">
      <i class="fas fa-save"></i>
      Save
    </button>
  </form>
{% endblock %}

{% block javascript %}
  <script>
    const form = document.getElementById("form");
    const success = document.getElementById("success");
    const errors = document.getElementById("errors");

    form.addEventListener("submit", async (event) => {
      event.preventDefault();

      // Remove aria-invalid from all fields
      document
        .querySelectorAll('[aria-invalid]')
        .forEach((elem) => {
          elem.setAttribute('aria-invalid', 'false');
        });

      success.innerHTML = "";
      errors.innerHTML = "";

      // Get the form data
      const username = document.getElementById("username");
      const email = document.getElementById("email");
      const role = document.getElementById("role");
      const enabled = document.getElementById("enabled");

      const body = JSON.stringify({
        username: username.value
          ? username.value
          : undefined,
        email: email.value
          ? email.value
          : undefined,
        role: role.value
          ? role.value
          : undefined,
        enabled: enabled.checked
      });

      let endpoint = "/api/users";
      let method = "POST";

      if (id.value) {
        endpoint += `/${id.value}`;
        method = "PATCH";
      }

      const response = await fetch(endpoint, {
        method,
        headers: {
          "Content-Type": "application/json"
        },
        body
      });

      if (response.ok) {
        const user = await response.json();

        window.location.href = `/users/${user.id}`;
      } else {
        await manageErrors(response, errors);
      }
    });
  </script>
{% endblock %}
