{% extends "layout.njk" %}
{% block body %}
  <h1>
    <i class="fas fa-users"></i>
    {{ t('ui.users.index.title') }}
  </h1>
  <p class="text-justify">
    {{ t('ui.users.index.paragraphOne') }}
  </p>
  <table>
    <thead>
      <tr>
        <th class="grow">
          {{ t('ui.users.index.username') }}
        </th>
        <th>
          {{ t('ui.users.index.email') }}
        </th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>
            <a href="/users/{{ user.id }}">
              {{ user.username }}
            </a>
          </td>
          <td>
            <a href="mailto:{{ user.email }}">
              {{ user.email }}
            </a>
          </td>
          <td>
            <a href="/users/{{ user.id }}">
              <i class="fas fa-eye"></i>
            </a>
          </td>
          <td>
            <a href="/users/{{ user.id }}/delete">
              <i class="fas fa-trash"></i>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="/users/create" role="button">
    <i class="fas fa-plus-circle"></i>
    {{ t('ui.users.index.button') }}
  </a>
{% endblock %}
