{% extends "layout.njk" %}

{% block body %}
<h1><i class="fas fa-sign-in-alt"></i> Log in</h1>
<form action="/api/auth/login" method="post">
    <label for="username">Username</label>
    <input type="username" name="username" id="username" placeholder="Username">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password">
    <button type="submit"><i class="fas fa-sign-in-alt"></i> Log in</button>
</form>
{% endblock %}
