
<h1><i class="fas fa-globe-europe"></i> Integration</h1>

<p>A <a href="/maps/users/<%= user.username %>/features" target="_blank">map of your spots</a> can be integrated on third party Web sites using the following iframe.</p>
<p>
    <code>
        &lt;iframe src=&quot;/maps/users/<%= user.username %>/features&quot;&gt;&lt;/iframe&gt;
    </code>
</p>