<html>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Spot in - Recover your account</title>
	</head>
	<body>
		<div>
			<h1>Spot in - Recover your account</h1>
			<p>
				Hello
				<b>{{username}}</b>,
			</p>
			<p>
				You have requested to create a new account on Spot in. However, a
				previous account under the username
				<b>{{username}}</b>
				already exists with your email address.
			</p>
			<p>
				Please click the link below to recover your account. You will be able to
				update your account details (such as your username) once you set your
				password.
			</p>
			<p>
				<a href='{{link}}'>Reset my password</a>
			</p>
			<p>
				If you did not request to create an account on Spot in, please reply to
				this email to let us know. We will take care of the rest.
			</p>
			<p>
				Best regards,<br />
				Spot in
			</p>
		</div>
	</body>
</html>
