<html>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Spot in - Welcome to Spot in</title>
	</head>
	<body>
		<div>
			<h1>Spot in - Welcome to Spot in</h1>
			<p>
				Hello
				<b>{{username}}</b>,
			</p>
			<p>
				Thank you for signing up to Spot in. Please set your password by
				clicking the link below. You will be able to use Spot in once you set
				your password.
			</p>
			<p>
				<a href='{{link}}'>Set my password and start using Spot in</a>
			</p>
			<p>
				If you did not sign up to Spot in, please reply to this email to let us
				know. We will take care of the rest.
			</p>
			<p>
				Best regards,<br />
				Spot in
			</p>
		</div>
	</body>
</html>
