{% extends "layout.njk" %}

{% block body %}
<h2><i class="fas fa-key"></i> New token</h2>
<form action="/tokens" method="POST">
    <fieldset>
        <label for="name">Name</label> 
        {% if errors.name %}
        <span class="error">The name field cannot be empty</span>
        <input name="name" id="name" placeholder="Name" value="{{ values.name }}" aria-invalid="true" autofocus>
        {% else %}
        <input name="name" id="name" placeholder="Name" value="{{ values.name }}" autofocus>
        {% endif %}
    </fieldset>
    <button type="submit"><i class="fas fa-save"></i> New token</button>
</form>
{% endblock %}
