{% extends "layout.njk" %}
{% block body %}
  <h1>
    <span class="fas fa-key"></span>
    {{ t('ui.tokens.index.title') }}
  </h1>
  <p class="text-justify">
    {{ t('ui.tokens.index.paragraphOne') }}
    <a href="/api" rel="noreferrer" target="_blank">
      <span class="fas fa-book"></span>
      {{ t('ui.tokens.index.apiDocumentation') }}
    </a>
  </p>
  <table>
    <thead>
      <tr>
        <th class="grow">
          {{ t('ui.tokens.index.name') }}
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for token in tokens %}
        <tr>
          <td>
            {{ token.name }}
          </td>
          <td>
            <a href="/tokens/{{ token.id }}/delete">
              <span class="fas fa-trash"></span>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="/tokens/create" role="button">
    <span class="fas fa-plus-circle"></span>
    {{ t('ui.tokens.index.button') }}
  </a>
{% endblock %}
