{% extends "layout.njk" %}

{% block body %}
<h1><i class="fas fa-key"></i> Your tokens</h1>
<p> The tokens enable you to publish spots from other platform with a REST API.
    The <a href="/api/" rel="noreferrer" target="_blank"> <i class="fas fa-book"></i> documentation</a>
    of the API will help you throughout this integration.
</p>
<p>
    
</p>
<table>
    <thead>
    <tr>
        <th class="grow">Name</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for token in tokens %}
    <tr>
        <td><a href="/tokens/{{ token.id }}">{{ token.name }}</a></td>
        <td>
            <a href="/tokens/{{ token.id }}/delete">
                <i class="fas fa-trash"></i>
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a href="/tokens/create" role="button"><i class="fas fa-plus-circle"></i> New token</a>
{% endblock %}
