{% extends "layout.njk" %}
{% block body %}
  <h1>
    <i class="fas fa-key"></i>
    {{ t('ui.tokens.list.title') }}
  </h1>
  <p class="text-justify">
    {{ t('ui.tokens.list.subtitle') }}
    <a href="/api" rel="noreferrer" target="_blank">
      <i class="fas fa-book"></i>
      {{ t('ui.tokens.list.apiDocumentation') }}
    </a>
  </p>
  <table>
    <thead>
      <tr>
        <th class="grow">
          {{ t('ui.tokens.list.name') }}
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for token in tokens %}
        <tr>
          <td>
            <a href="/tokens/{{ token.id }}">{{ token.name }}</a>
          </td>
          <td>
            <a href="/tokens/{{ token.id }}/delete">
              <i class="fas fa-trash"></i>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="/tokens/create" role="button">
    <i class="fas fa-plus-circle"></i>
    {{ t('ui.tokens.list.button') }}
  </a>
{% endblock %}
