{% extends "layout.njk" %}

{% block body %}
<h1><i class="fas fa-key"></i> API key</h1>
<fieldset>
    <label for="name">Name</label>
    <input type="name" name="name" id="name" value="{{ token.name }}" readonly>
</fieldset>
<fieldset>
    <label for="value">Value</label>
    <input type="value" name="value" id="value"
    {% if token.hash == '' %}
        value="The value is displayed only once, right after the creation of the API key."
        disabled
    {% else %}
        value="{{ token.hash }}"
        readonly
    {% endif %}>
</fieldset>
{% endblock %}
