{% extends "layout.njk" %}

{% block body %}
<article class="resource">
    <img src="{{ qrcode }}" alt="QRCode" class="qrcode">
    <hgroup class="head">
        <h1 class="title">{{ spot.title }}</h1>
        <h2 class="uuid">
            {% if spot.redirection %}
            <i class="fas fa-external-link-alt"></i> <a href="{{ spot.redirection }}" target="_blank" rel="noreferrer">{{ spot.redirection }}</a>
            {% else %}
            <i class="fas fa-link"></i> <a href="/spots/{{ spot.id }}">{{ spot.id }}</a>
            {% endif %}
        </h2>
    </hgroup>
    {% if spot.description %}
    <p class="description">{{ spot.description }}</p>
    {% endif %}
    {% if spot.latitude !== "" and spot.longitude !== "" %}
        <div id='map' style='width: 100%; height: 400px;'></div>
    {% endif %}
</article>
<script>
    // get the spot.coordinates
    var longitude = '{{ spot.longitude }}';
    var latitude = '{{ spot.latitude }}';

    if (longitude !== '' && latitude !== '') {
        var map = new maplibregl.Map({
            container: 'map',
            style: "https://vectortiles.geo.admin.ch/styles/ch.swisstopo.leichte-basiskarte_world.vt/style.json",
            center: [longitude, latitude],
            zoom: 10
        });

        // add the marker to the map
        var marker = new maplibregl.Marker({
            color: "#e53935",
        })
        .setLngLat([longitude, latitude])
        .addTo(map);
    }

</script>
{% endblock %}
