{% extends "layout.njk" %}

{% block body %}
  <h2>
    <span class="fas fa-map-marker-alt"></span>
    {{ t('ui.spots.create.title') }}
  </h2>

  {% include "spots/partials/form.njk" %}
{% endblock %}
