{% extends "layout.njk" %}

{% block body %}
<h1><i class="fas fa-map-marker-alt"></i> Your spots</h1>
<p>
    Spots can take place in the virtual or in the physical world. They capture the context and the circumstances that form the setting for an event. 
</p>
<table>
    <thead>
        <tr>
            <th class="grow">Title</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for spot in spots %}
        <tr>
            <td><a href="/spots/{{ spot.id }}">
            {% if spot.title != null and spot.title != "" %}
                {{ spot.title }}
            {% else %}
                [No title]
            {% endif %}
            </a></td>
            <td><a href="/spots/{{ spot.id }}"><i class="fas fa-eye"></i></a></td>
            <td><a href="/spots/{{ spot.id }}/edit"><i class="fas fa-pen"></i></a></td>
            <td><a href="/spots/{{ spot.id }}/delete"><i class="fas fa-archive"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<p>
    <a href="/spots/create" role="button"><i class="fas fa-plus-circle"></i> New spot</a>
</p>
{% endblock %}
