{% extends "layout.njk" %}
{% block body %}
  <h1>
    <i class="fas fa-list"></i>
    Latest spots
  </h1>
  <table>
    <thead>
      <tr>
        <th class="grow">Title</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for spot in spots %}
        <tr>
          <td>
            <a href="/spots/{{ spot.id }}">{{ spot.title }}</a>
          </td>
          <td>
            <a href="/spots/{{ spot.id }}">
              <i class="fas fa-eye"></i>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
