{% extends "layout.njk" %}
{% block body %}
  <h1>
    <i class="fas fa-map-marker-alt"></i>
    {{ t('ui.spots.list.title') }}
  </h1>
  <p class="text-justify">
    {{ t('ui.spots.list.subtitle') }}
  </p>
  <table>
    <thead>
      <tr>
        <th class="grow">
          {{ t('ui.spots.list.name') }}
        </th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for spot in spots %}
        <tr>
          <td>
            {% if spot.name %}
              <a href="/spots/{{ spot.id }}">
                {{ spot.name }}
              </a>
            {% else %}
              <a href="/spots/{{ spot.id }}" class="secondary text-italic">
                {{ t('ui.spots.list.noName') }}
              </a>
            {% endif %}
          </td>
          <td>
            <a href="/spots/{{ spot.id }}">
              <i class="fas fa-eye"></i>
            </a>
          </td>
          <td>
            <a href="/spots/{{ spot.id }}/edit">
              <i class="fas fa-pen"></i>
            </a>
          </td>
          <td>
            <a href="/spots/{{ spot.id }}/delete">
              <i class="fas fa-archive"></i>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <p>
    <a href="/spots/create" role="button">
      <i class="fas fa-plus-circle"></i>
      {{ t('ui.spots.list.button') }}
    </a>
  </p>
{% endblock %}
