{% extends "layout.njk" %}
{% block body %}
  <h1>
    <i class="fas fa-list"></i>
    {{ t('ui.spots.public.title') }}
  </h1>

  <p class="text-justify">
    {{ t('ui.spots.public.paragraphOne') }}
  </p>

  <table>
    <thead>
      <tr>
        <th class="grow">
          {{ t('ui.spots.public.tableHeaders.title') }}
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for spot in spots %}
        <tr>
          <td>
            <a href="/spots/{{ spot.id }}/redirect">{{ spot.name }}</a>
          </td>
          <td>
            <a href="/spots/{{ spot.id }}/redirect">
              <i class="fas fa-eye"></i>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
