{% extends "public-layout.njk" %}
{% block body %}
  {% if spot.websiteTarget == null %}
    {{ spot.description|safe }}

    <hr>

  {% endif %}

  <details>
    <summary>
      <span>
        <i class="fas fa-info-circle" "></i>
      </span>
      {{ t('ui.spots.redirect.showSpotInformation') }}
    </summary>
    <p>
      {{ t('ui.spots.redirect.createdBy') }}
      <a href="/profile/{{ spot.user.username }}">{{ spot.user.username }}</a>.
    </p>
    {% if spot.description != null and spot.websiteTarget != null %}
      {{ spot.description|safe }}
    {% endif %}
  </details>

  <hr>

  {% if spot.latitude != null and spot.longitude != null %}
    <details>
      <summary>
        <span>
          <i class="fas fa-map"></i>
        </span>
        {{ t('ui.spots.redirect.showMap') }}
      </summary>
      <div id='map' style='width: 100%; height: 400px;'></div>
    </details>

    <hr>
  {% endif %}

  <details>
    <summary>
      {% if spot.user.role == "CERTIFIED_USER" or spot.user.role == "ADMIN" %}
        <span>
          <i class="fas fa-check-circle" style="color: LimeGreen;"></i>
          {{ t('ui.spots.redirect.certified') }}
        </span>
      {% else %}
        <span>
          <i class="fas fa-exclamation-circle" style="color: Orange;"></i>
          {{ t('ui.spots.redirect.unverified') }}
        </span>
      {% endif %}

      <i>({{ t('ui.spots.redirect.whatDoesThatMean.title') }})</i>
    </summary>
    <p class="text-justify">
      {{ t('ui.spots.redirect.whatDoesThatMean.details.part1', { icon: '<span><i class="fas fa-check-circle" style="color: LimeGreen;"></i></span>' })|safe }}
    </p>
    <p class="text-justify">
      {{ t('ui.spots.redirect.whatDoesThatMean.details.part2', { icon: '<span><i class="fas fa-exclamation-circle" style="color: Orange;"></i></span>' })|safe }}
    </p>
  </details>

  {% if spot.websiteTarget != null %}

    <hr>

    <form id="form">
      <button type="submit" data-target="modal-access-content" onclick="toggleModal(event)">
        <i class="fas fa-external-link-alt"></i>
        {{ t('ui.spots.redirect.accessContent.button') }}
      </button>
    </form>
  {% endif %}

  <footer>
    <div role="group">
      <button class="secondary" data-target="modal-report-spot" onclick="toggleModal(event)">
        <small>
          <i class="fas fa-flag"></i>
          {{ t('ui.spots.redirect.report.button') }}
        </small>
      </button>
      <button class="secondary" data-target="modal-like-spot" onclick="toggleModal(event)">
        <small>
          <span style="color: Red;">
            <i class="fas fa-heart"></i>
          </span>
          {{ t('ui.spots.redirect.like.button') }}
        </small>
      </button>
      <button class="secondary" data-target="modal-share-spot" onclick="toggleModal(event)">
        <small>
          <i class="fas fa-share-alt"></i>
          {{ t('ui.spots.redirect.share.button') }}
        </small>
      </button>
    </div>
  </footer>

  <dialog id="modal-access-content">
    <article>
      <header>
        <button aria-label="{{ t('ui.spots.redirect.accessContent.modal.actions.cancel') }}" rel="prev" data-target="modal-access-content" onclick="toggleModal(event)"></button>
        <h2>
          {{ t('ui.spots.redirect.accessContent.modal.title') }}
        </h2>
      </header>
      <p class="text-justify">
        {{ t('ui.spots.redirect.accessContent.modal.description', { websiteTarget: spot.websiteTarget }) }}
      </p>
      <footer>
        <button class="secondary" data-target="modal-access-content" onclick="toggleModal(event)">
          {{ t('ui.spots.redirect.accessContent.modal.actions.cancel') }}
        </button>
        <a role="button" href="{{ spot.websiteTarget }}" autofocus="autofocus" target="_self">
          {{ t('ui.spots.redirect.accessContent.modal.actions.access') }}
        </a>
      </footer>
    </article>
  </dialog>

  <dialog id="modal-report-spot">
    <article>
      <header>
        <button aria-label="{{ t('ui.spots.redirect.report.modal.actions.close') }}" rel="prev" data-target="modal-report-spot" onclick="toggleModal(event)"></button>
        <h2>
          {{ t('ui.spots.redirect.report.modal.title') }}
        </h2>
      </header>
      <p class="text-justify">
        {{ t('ui.spots.redirect.report.modal.description', { websiteTarget: spot.websiteTarget }) }}
      </p>
      <footer>
        <button class="secondary" data-target="modal-report-spot" onclick="toggleModal(event)">
          {{ t('ui.spots.redirect.report.modal.actions.close') }}
        </button>
        <button class="plausible-event-name=report-spot" autofocus="autofocus" data-target="modal-report-spot" onclick="toggleModal(event)">
          {{ t('ui.spots.redirect.report.modal.actions.report') }}
        </button>
      </footer>
    </article>
  </dialog>

  <dialog id="modal-like-spot">
    <article>
      <header>
        <button aria-label="{{ t('ui.spots.redirect.like.modal.actions.close') }}" rel="prev" data-target="modal-like-spot" onclick="toggleModal(event)"></button>
        <h2>
          {{ t('ui.spots.redirect.like.modal.title') }}
        </h2>
      </header>
      <p class="text-justify">
        {{ t('ui.spots.redirect.like.modal.description', { websiteTarget: spot.websiteTarget }) }}
      </p>
      <footer>
        <button class="secondary" data-target="modal-like-spot" onclick="toggleModal(event)">
          {{ t('ui.spots.redirect.like.modal.actions.close') }}
        </button>
        <button class="plausible-event-name=like-spot" autofocus="autofocus" data-target="modal-like-spot" onclick="toggleModal(event)">
          {{ t('ui.spots.redirect.like.modal.actions.like') }}
        </button>
      </footer>
    </article>
  </dialog>

  <dialog id="modal-share-spot">
    <article>
      <header>
        <button aria-label="{{ t('ui.spots.redirect.share.modal.actions.close') }}" rel="prev" data-target="modal-share-spot" onclick="toggleModal(event)"></button>
        <h2>
          {{ t('ui.spots.redirect.share.modal.title') }}
        </h2>
      </header>
      <p class="text-justify">
        {{ t('ui.spots.redirect.share.modal.description', { websiteTarget: spot.websiteTarget }) }}
      </p>
      <footer>
        <!-- On close, enable the share button again -->
        <button class="secondary" data-target="modal-share-spot" onclick="toggleModal(event); enableShareSpot(event)">
          {{ t('ui.spots.redirect.share.modal.actions.close') }}
        </button>
        <button id="share-button" class="plausible-event-name=share-spot" autofocus="autofocus" onclick="shareSpot(event)">
          {{ t('ui.spots.redirect.share.modal.actions.share') }}
        </button>
      </footer>
    </article>
  </dialog>

{% endblock %}

{% block javascript %}
  <script>
    {% if spot.latitude != null and spot.longitude != null %}
      const latitude = '{{ spot.latitude }}';
      const longitude = '{{ spot.longitude }}';

      // https://codepen.io/bothness/pen/ExgwzEG
      const mapGlStyle = {
        version: 8,
        sources: {
          osm: {
            type: 'raster',
            tiles: ['https://a.tile.openstreetmap.org/{z}/{x}/{y}.png'],
            tileSize: 256,
            attribution: '&copy; OpenStreetMap Contributors',
            // https://wiki.openstreetmap.org/wiki/Zoom_levels#Mapbox_GL
            maxzoom: 19
          }
        },
        layers: [
          {
            id: 'osm',
            type: 'raster',
            source: 'osm'
          }
        ]
      };

      const map = new maplibregl.Map({
        container: 'map',
        style: mapGlStyle,
        center: [
          longitude, latitude
        ],
        zoom: 16
      });

      const marker = new maplibregl
        .Marker({color: "#e53935"})
        .setLngLat([longitude, latitude])
        .addTo(map);
    {% endif %}

    const shareSpot = (event) => {
      event.preventDefault();

      const shareButton = event.currentTarget;

      if (navigator.share) {
        navigator
          .share({title: document.title, url: window.location.href})
          .then(() => {
            shareButton.textContent = "{{ t('ui.spots.redirect.share.modal.actions.shared') }}";
          })
          .catch(() => {
            // Do nothing
          });
      } else {
        navigator
          .clipboard
          .writeText(window.location.href)
          .then(() => {
            shareButton.textContent = "{{ t('ui.spots.redirect.share.modal.actions.copied') }}";
          })
          .catch(() => {
            // Do nothing
          });
      }

      shareButton.disabled = true;
    };

    const enableShareSpot = (event) => {
      event.preventDefault();

      const shareButton = document.getElementById("share-button");

      shareButton.textContent = "{{ t('ui.spots.redirect.share.modal.actions.share') }}";

      shareButton.disabled = false;
    };
  </script>
{% endblock %}
