{% extends "layout.njk" %}

{% block body %}
  <article>
    <header>
      {% if spot.name != null %}
        <h1>
          <i class="fas fa-map-marker-alt"></i>
          {{ spot.name }}
        </h1>
      {% else %}
        <h1 class="text-italic">
          <i class="fas fa-map-marker-alt"></i>
          {{ t('ui.spots.view.noName') }}
        </h1>
      {% endif %}
      <svg id="qrcode" hidden="hidden">{{ qrcode | safe }}</svg>
    </header>

    <p>
      {% if spot.description != null %}
        {{ spot.description }}
      {% else %}
        <span class="text-italic">{{ t('ui.spots.view.noDescription') }}</span>
      {% endif %}
    </p>

    {% if spot.latitude != null and spot.longitude != null %}
      <div id='map' style='width: 100%; height: 400px;'></div>
    {% endif %}

    {% if spot.payload != null %}
      <p>
        <pre>{{ spot.payload }}</pre>
      </p>
    {% endif %}

    <footer>
      <div role="group">
        <button id="download-qr-code" class="secondary">
          <i class="fas fa-qrcode"></i>
          {{ t('ui.spots.view.downloadQrCode') }}
        </button>
        <button id="edit" class="secondary">
          <i class="fas fa-pen"></i>
          {{ t('ui.spots.view.edit') }}
        </button>
        <button id="view-redirection-page" class="secondary">
          <i class="fas fa-external-link-alt"></i>
          {{ t('ui.spots.view.viewRedirectionPage') }}
        </button>
      </div>
    </footer>
  </article>
{% endblock %}

{% block javascript %}
  <script>
    const longitude = '{{ spot.longitude }}';
    const latitude = '{{ spot.latitude }}';

    if (longitude !== '' && latitude !== '') {
      const map = new maplibregl.Map({
        container: 'map',
        style: "https://vectortiles.geo.admin.ch/styles/ch.swisstopo.leichte-basiskarte_world.vt/style.json",
        center: [
          longitude, latitude
        ],
        zoom: 10
      });

      const marker = new maplibregl
        .Marker({color: "#e53935"})
        .setLngLat([longitude, latitude])
        .addTo(map);
    }

    document
      .getElementById("download-qr-code")
      .addEventListener("click", (event) => {
        const filename = "{{ spot.name if spot.name else spot.id }}.svg"
        const qrcode = document
          .getElementById("qrcode")
          .innerHTML;
        const blob = new Blob([qrcode.toString()], {type: "image/svg+xml"});
        const element = document.createElement("a");
        element.download = filename;
        element.href = window
          .URL
          .createObjectURL(blob);
        element.click();
        element.remove();
      });

    document
      .getElementById("edit")
      .addEventListener("click", (event) => {
        window.location.href = "/spots/{{ spot.id }}/edit";
      });

    document
      .getElementById("view-redirection-page")
      .addEventListener("click", (event) => {
        window.location.href = "/spots/{{ spot.id }}/redirect";
      });
  </script>
{% endblock %}
